---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const livros = await getCollection('livros');
const autoresSet = new Set();

for (const livro of livros) {
    autoresSet.add(livro.data.autor);
}

const autores = Array.from(autoresSet).sort();
---

<Layout>
    <section>
        <div class="m-auto p-2 bg-amber-400">
            <h3 class="text-center text-2xl font-bolder">Autores</h3>
            <ul class="sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:divide-none sm:gap-2 rounded bg-white divide-y divide-amber-200">
                {autores.map(autor => (
                    <li class="py-2 px-4 hover:bg-amber-100 active:bg-amber-300 cursor-pointer transition-all duration-200 shadow-sm hover:shadow-md rounded">
                        <span class="text-amber-700">📖</span>
                        <a href={`/livros/autores/${autor.toLowerCase().replace(/\s+/g, '-')}`}>
                            {autor}
                        </a>
                    </li>
                ))}
            </ul>
        </div>
    </section>
</Layout>