---
import Layout from "../layouts/Layout.astro";
import BotaoVoltar from "../components/BotaoVoltar.astro";
---

<Layout>
    <section>
        <div class="w-full m-auto p-2 bg-amber-400">
            <h2 class="text-center text-3xl font-bolder">Quem Somos</h2>
            <article>
                <div class="p-2 rounded bg-white">
                    <p class="text-lg text-justify">
                        O "Educação do Imaginário" nada mais é do que um grupo de amigos
                        que se reúne uma vez por mês com o intúito de apreciar um bom
                        café da manhã em ótima companhia, falar sobre assuntos variados,
                        dos mais descontraídos aos mais elevados, assim como obter,
                        através da leitura dos grandes clássicos da literatura, uma boa
                        formação intelectual e moral. Geralmente nos reunimos no
                        primeiro domingo de cada mês, a partir das 08h da manhã,
                        costumeiramente no restaurante "Cantinho da Mamãe", mas podendo
                        mudar dependendo da ocasião. A escolha dos livros é feita no mês
                        de novembro, onde os membros presentes fazem sugestões sobre
                        qual livro querem ler durante o ano, podendo estar sujeitos a um
                        critério qualquer decidido na hora e então ocorre um sorteio. O
                        clima do grupo é bem informal, ninguém é exigido ou obrigado a
                        fazer as leituras para participar e não há custo para
                        participar, apenas se exige o básico do respeito e o bom gosto
                        pela leitura.
                    </p>
                </div>
            </article>
            <BotaoVoltar />
        </div>
    </section>
</Layout>
