
<div class="p-2">
    <button 
        onclick="history.back()" 
        class="block w-40 m-auto p-2 outline-none rounded bg-red-500 text-white hover:bg-red-400 active:bg-red-400 cursor-pointer"
    
    >
        Voltar
    </button>
</div>