<section class="bg-cover bg-center text-white py-12 px-4" style="background-image: url(/assets/fundos/estante-livros-capa.webp);">
    <div class="bg-black/60 p-6 rounded-lg max-w-2xl mx-auto text-center">
        <h1 class="text-3xl sm:text-5xl font-lora font-bold">Formação do Imaginário</h1>
        <p class="text-lg italic font-light mt-2">Grupo de leitura em Porto Velho</p>
    </div>
</section>