<section>
    <div class="px-4 py-6 bg-amber-950 text-white text-center">
        <p class="text-sm font-lora ">
            2025 - Formação do Imaginário - Todos os Direitos Reservados
        </p>
        <p class="p-2 text-xs opacity-70 font-lora ">
            Este site é apenas informativo. Não utilizamos cookies.
        </p>
    </div>
</section>